<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mutedcritics.activity.dao.ActivityDAO">

    <!-- 일일 접속자 수 조회 -->
    <select id="DAU" resultType="int">
        SELECT COUNT(DISTINCT user_id) AS user_count
        FROM access_stats
        WHERE access_time &gt;= #{today}
        AND  access_time &lt; DATE_ADD(#{today}, INTERVAL 1 DAY)
    </select>
    <!-- 일일 신규 유저 수 조회 -->
    <select id="getNewUserCount" resultType="int">
        SELECT COUNT(user_id) AS new_user_count
        FROM user
        WHERE join_date = #{today}
    </select>
    <!-- 일일 휴면 전환 유저 수 조회 -->
    <select id="getDormantUserCount" resultType="int">
        SELECT COUNT(user_id) AS dormant_user_count
        FROM user
        WHERE dormant_date = #{today}
    </select>
    <!-- 일일 복귀 유저 수 조회 -->
    <select id="getReturningUserCount" resultType="int">
        SELECT COUNT(user_id) AS returning_user_count
        FROM user
        WHERE returning_date = #{today}
    </select>
    <!-- 일일 탈퇴 유저 수 조회 -->
    <select id="getWithdrawnUserCount" resultType="int">
        SELECT COUNT(user_id) AS withdrawn_user_count
        FROM user
        WHERE withdraw_date = #{today}
    </select>

    <!-- 일일 통계 저장 -->
    <insert id="insertDailyActivity" parameterType="map">
        INSERT INTO stats_activity_daily (stats_date, dau, new_user_count, dormant_user_count, returning_user_count, withdrawn_user_count)
        VALUES (#{today}, #{DAU}, #{newUserCount}, #{dormantUserCount}, #{returningUserCount}, #{withdrawnUserCount})
    </insert>

</mapper>