<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mutedcritics.activity.ActivityDAO">

    <!-- 총 접속자 수 -->
    <select id="total_user" resultType="map">
        select COUNT(DISTINCT user_id) AS user_count from access_stats
    </select>

    <!-- 오늘 날짜 기준 총 일일 접속자 수 -->
    <select id="today_daily_user" resultType="map">
        SELECT COUNT(DISTINCT user_id) AS user_count
        FROM access_stats
        WHERE access_time &gt;= CURDATE() - INTERVAL 1 DAY
        AND access_time &lt; CURDATE()
    </select>

    <!-- 오늘 날짜 기준 총 주간 접속자 수 -->
    <select id="today_weekly_user" resultType="map">
        SELECT COUNT(DISTINCT user_id) AS user_count
        FROM access_stats
        WHERE access_time &gt;= CURDATE() - INTERVAL 7 DAY
        AND access_time &lt; CURDATE()
    </select>

    <!-- 오늘 날짜 기준 총 월간 접속자 수 -->
    <select id="today_monthly_user" resultType="map">
        SELECT COUNT(DISTINCT user_id) AS user_count
        FROM access_stats
        WHERE access_time &gt;= DATE_FORMAT(CURDATE() - INTERVAL 1 MONTH, '%Y-%m-01')
        AND access_time &lt; DATE_FORMAT(CURDATE(), '%Y-%m-01')
    </select>

    <!-- 기간별 일일 활성 이용자 수 -->
    <select id="period_daily_user" resultType="map">
        SELECT COUNT(DISTINCT user_id) AS user_count
        FROM access_stats
        WHERE access_time &gt;= #{start_date}
        AND access_time &lt; #{end_date}
    </select>

    <!-- 기간별 주간 활성 이용자 수 -->
    <select id="period_weekly_user" resultType="map">
        SELECT COUNT(DISTINCT user_id) AS user_count
        FROM access_stats
        WHERE access_time &gt;= #{fromDate}
        AND access_time &lt; #{toDate}
    </select>

    <!-- 기간별 월간 활성 이용자 수 -->
    <select id="period_monthly_user" resultType="map">
        SELECT COUNT(DISTINCT user_id) AS user_count
        FROM access_stats
        WHERE access_time &gt;= #{fromDate}
        AND access_time &lt; #{toDate}
    </select>

</mapper>