<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mutedcritics.ingame.dao.IngameDAO">
    <insert id="insertDailyHeroStats">
        INSERT INTO stats_hero_daily (
            stats_date, heroes_idx, tier_name, pick_count, win_count, 
            lose_count, potg_count, total_play_hours, ban_count
        )
        SELECT
            A.stats_date,
            A.heroes_idx,
            A.tier_name,
            COUNT(*) AS pick_count,
            SUM(CASE WHEN A.victory_or_defeat = 'victory' THEN 1 ELSE 0 END) AS win_count,
            SUM(CASE WHEN A.victory_or_defeat = 'defeat' THEN 1 ELSE 0 END) AS lose_count,
            SUM(A.potg) AS potg_count,
            SUM(A.match_play_time) AS total_play_time,
            IFNULL(B.ban_count, 0) AS ban_count
        FROM (
            SELECT *
            FROM (
                SELECT
                    mr.heroes_idx, mr.victory_or_defeat, mr.potg, mr.match_play_time,
                    mt.match_date AS stats_date,
                    IFNULL(t.tier_name, 'Unranked') AS tier_name,
                    ROW_NUMBER() OVER(PARTITION BY mr.result_idx ORDER BY t.tier_date DESC) as rn
                FROM
                    match_result mr
                JOIN
                    match_table mt ON mr.match_idx = mt.match_idx
                LEFT JOIN
                    tier t ON mr.user_id = t.user_id AND t.tier_date &lt;= mt.match_date
                WHERE
                    mt.match_date BETWEEN #{startDate} AND #{endDate}
            ) AS RankedMatches
            WHERE RankedMatches.rn = 1
        ) AS A
        LEFT JOIN (
            SELECT
                mt.match_date AS stats_date,
                mh.heroes_idx,
                COUNT(mh.heroes_idx) AS ban_count
            FROM
                match_heroes mh
            JOIN
                match_table mt ON mh.match_idx = mt.match_idx
            WHERE
                mh.pick_or_ban = 'ban'
                AND mt.match_date BETWEEN #{startDate} AND #{endDate}
            GROUP BY
                mt.match_date, mh.heroes_idx
        ) AS B ON A.stats_date = B.stats_date AND A.heroes_idx = B.heroes_idx
        GROUP BY
            A.stats_date, A.heroes_idx, A.tier_name
        ON DUPLICATE KEY UPDATE
            pick_count = VALUES(pick_count),
            win_count = VALUES(win_count),
            lose_count = VALUES(lose_count),
            potg_count = VALUES(potg_count),
            total_play_hours = VALUES(total_play_hours),
            ban_count = VALUES(ban_count);
    </insert>
</mapper>